* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}
.main {
  width: 100%;
  /* padding: 30px; */
}
.padded-sec {
  padding: 30px;
}
.header-image {
  width: 100%;
}
img {
  width: 100%;
  height: auto;
}

h1,
h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
}
header h1 {
  margin-bottom: 25px;
}
p,
ul {
  font-size: 16px;
  font-family: "Outfit", sans-serif;
}
li {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}
li p {
  font-weight: 400;
  color: hsl(24, 5%, 18%);
}
header p {
  padding: 0 0 15px 0;
}
.prep {
  background-color: hsl(330, 100%, 98%);
  padding: 30px;
  margin: 20px 0;
}
.head-prep {
  font-size: 18px;
  padding-bottom: 10px;
  color: hsl(332, 51%, 32%);
}
.prep ul li {
  padding: 5px 15px;
  position: relative;
  left: 25px;
}
.ingredients {
  margin: 30px 0;
}

.ingredients ul li {
  position: relative;
  left: 20px;
  line-height: 30px;
  padding-left: 10px;
}
/* .ingredients ul {
  margin-bottom: 20px;
} */
.line {
  width: 100%;
  border-bottom: 2px solid hsl(30, 18%, 87%);
}
.instructions {
  margin: 30px 0;
}

.instructions ol li {
  position: relative;
  left: 20px;
  padding: 10px 10px;
  /* padding-left: 10px; */
}
.second-heading {
  color: hsl(14, 45%, 36%);
  margin-bottom: 20px;
}
.bold {
  color: hsl(30, 10%, 34%);
  font-weight: 600;
}

.nutrition {
  margin: 30px 0;
}
.tab {
  margin-bottom: 10px;
}
.row {
  display: flex;
}
.column {
  flex: 50%;
  padding: 15px 20px;
}
.amount {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}

@media (min-width: 1024px) {
  body {
    background-color: hsl(30, 54%, 90%);
  }
  .main {
    width: 48%;
    background-color: hsl(0, 0%, 100%);
    margin: 100px auto;
    border-radius: 25px;
    padding: 30px;
  }
  .header-image {
    width: 40%;
    border-radius: 15px;
  }
  img {
    width: 100%;
    padding-bottom: 30px;
  }

  header h1 {
    font-size: 32px;
  }
  img.round-border {
    border-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
